@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200&display=swap");
*
{
    margin: 0;
    padding: 0;
    font-family: 'Noto Serif JP', serif;
}

header 
{
    background-color: #000;
    box-shadow: 0 0 10px 5px rgba(26, 26, 26, 0.3);
    position: sticky;
    top: 0;
    z-index: 999;

    .navbar-brand img 
    {
        width: 100%;
        max-width: 140px;
    }
    .navbar-nav
    {   
        .nav-item 
        {
            text-align: center;
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: 1px;

            .nav-link 
            {
                color: #e6e6e6;
                transition-duration: 0.3s;
            }
            .nav-link:hover
            {
                color: #cccccc;
            }
        }
    }
    .fa-bars 
    {
        font-size: 20px;
        color: #fff;
    }
}

#landing_page 
{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(4, 70, 133, 0.7)),url("../img/bg/jjk_landing_page_bg_img.jpg");
    background-position: center;
    background-size: cover;

    .landing_page_content   
    {
        padding: 20px 0 50px 0;
        .landing_page_intro 
        {
            color: #fff;
            text-align: center;
            
           .landing_page_title
           {
                img 
                {
                    width: 25%;
                    max-width: 100px;
                }
           }
           @keyframes float {
            0% {
                
                transform: translatey(0px);
            }
            50% {
                
                transform: translatey(-15px);
            }
            100% {
                
                transform: translatey(0px);
            }
            }

            .landing_page_title img {

                transform: translateY(0px);
                animation: float 5s ease-in-out infinite;
                img { width: 100%; height: auto; }
            }
           .landing_page_title_description
           {
               padding-top: 15px;
                p 
                {
                    font-size: 16px;
                }
           }
           .scrolldown
           {
               span 
               {
                   font-size: 13px;
               }
               img 
               {
                   width: 100%;
                   max-width: 20px;
                   margin-top: 10px;
                   filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.9));
               }
               
           }
           @keyframes float {
            0% {
                
                transform: translatey(0px);
            }
            50% {
                
                transform: translatey(-10px);
            }
            100% {
                
                transform: translatey(0px);
            }
            }

            .scrolldown img {

                transform: translateY(0px);
                animation: float 5s ease-in-out infinite;
                img { width: 100%; height: auto; }
            }
        }
    }
}

#about 
{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(4, 70, 133, 0.9)),url("../img/bg/jjk_about_bg_img.jpg");
    background-position: center;
    background-size: cover;

    .about_content 
    {
        padding: 70px 0 100px 0;

        .about_title
        {
            h1 
            {
                color: #fff;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-size: 30px;
            }
            h1::after 
            {
                content: "";
                background-color: rgba(0,0,0,0.5);
                width: 100%;
                max-width: 120px;
                height: 20px;
                display: block;
                margin-top: -15px;
            }
            hr 
            {
                color: #fff;
            }
        }
        .about_title_description  
        {
            p 
            {
                color: #fff;
                font-size: 15px;
                text-align: justify;
                line-height: 25px;
            }
        }
        cite 
        {
            font-size: 12px;
            color: #fff;
            a 
            {
                text-decoration: none;
            }
        }
        .jjk_poster
        {
            padding-top: 30px;
            img 
            {
                width: 100%;
                box-shadow: 0 0 10px 5px rgba(0,0,0,0.5);
            }
        }
    }
}

#author 
{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(4, 70, 133, 0.9)),url("../img/bg/jjk_bg.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    .author_content
    {
        padding: 70px 0 250px 0;
        text-align: center;
        color: #fff;
        .author_title 
        {
            h1 
            {
                text-transform: uppercase;
                letter-spacing: 1px;
                font-size: 30px;
            }
            h1::after 
            {
                content: "";
                background-color: rgba(0,0,0,0.5);
                width: 100%;
                max-width: 150px;
                height: 20px;
                display: block;
                margin: -15px auto;
            }
            hr 
            {
                width: 150px;
                margin: 30px auto;
            }
        }
        .author_info
        {
            .author_name 
            {
                h2 
                {
                    font-size: 25px;
                    letter-spacing: 1px;
                }
            }
            .author_description 
            {
                padding-top: 10px;
                p 
                {
                    font-size: 16px;
                }
            }
        }
        cite 
        {
            font-size: 12px;
            a 
            {
                text-decoration: none;
            }
        }
    }
}



//Jjk characters

#characters
{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(4, 70, 133, 0.9)),url("../img/bg/jjk_bg.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    .characters_content 
    {
        padding: 70px 0 250px 0;
        color: #fff;
        text-align: center;

        .characters_title 
        {
            h1 
            {
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 30px;
            }
            h1::after 
            {
                content: "";
                background-color: rgba(0,0,0,0.4);
                width: 100%;
                max-width: 240px;
                height: 20px;
                display: block;
                margin: -15px auto;
            }
        }
        .characters_title_description 
        {
            padding-top: 10px;
            p 
            {
                font-size: 16px;
                letter-spacing: 1px;
            }
        }
        .characters_list 
        {
            padding-top: 20px;
            text-align: center;
            .character_item 
            {
                margin-bottom: 30px;
                .character_img 
                {
                    img 
                    {
                        width: 80%;
                        max-width: 150px;
                        border-bottom: 2px solid #f2f2f2;
                    }
                }
                .character_name 
                {
                    h2 
                    {
                        font-size: 20px;
                        padding-top: 10px;
                    }
            }
            }
        }
        .back_to_top
        {
           padding-top: 30px;
           .fa-arrow-circle-up
           {
               color: #fff;
           }
           label 
           {
               font-size: 11px;
           }
        }
    }
}


//Watch Anime

#watch_anime 
{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(4, 70, 133, 0.9)),url("../img/bg/jjk_bg.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    .watch_anime_content    
    {
        padding: 70px 0 250px 0;
        text-align: center;
        color: #fff;
        .watch_anime_title 
        {
            h1 
            {
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 30px;
            }
            h1::after 
            {
                content: "";
                background-color: rgba(0,0,0,0.4);
                width: 100%;
                max-width: 250px;
                height: 20px;
                display: block;
                margin: -15px auto;
            }
        }
        .watch_anime_title_description 
        {
            padding-top: 10px;
            p 
            {
                font-size: 16px;
                letter-spacing: 1px;
            }
        }
        .anime_seasons
        {
            color: #fff;
            .anime_season_title
            {
                padding-top: 20px;
                h2
                {
                    text-transform: uppercase;
                    font-size: 23px;
                    letter-spacing: 1px;
                }
            }
            .anime_season_episodes
            {
                display: none;
                ul
                {
                    list-style: none;
                    font-size: 13px;
                    padding: 0;
                    li 
                    {
                        padding-top: 10px;
                        a 
                        {
                            text-decoration: none;
                        }
                    }
                }
            }
            .dropdown_episodes
            {
                .fa-arrow-circle-down
                {
                    cursor: pointer;
                    transition: 0.3s;
                }
                .fa-arrow-circle-down.active
                {
                    transform: rotate(180deg);
                }
            }
        }
    }
}


//Read Manga Series
#read_manga_series
{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(4, 70, 133, 0.9)),url("../img/bg/jjk_bg.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    .read_manga_series_content 
    {
        padding: 70px 0 250px 0;
        text-align: center;
        color: #fff;
        .read_manga_series_title 
        {
            h1 
            {
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 30px;
            }
            h1::after 
            {
                content: "";
                background-color: rgba(0,0,0,0.4);
                width: 100%;
                max-width: 130px;
                height: 20px;
                display: block;
                margin: -15px auto;
            }
        }
        .read_manga_series_title_description 
        {
            padding-top: 10px;
            p 
            {
                font-size: 16px;
                letter-spacing: 1px;
            }
        }
        .manga_chapters
        {
            color: #fff;
            .manga_chapters_title
            {
                padding-top: 20px;
                h2
                {
                    text-transform: uppercase;
                    font-size: 23px;
                    letter-spacing: 1px;
                }
            }
            .manga_chapters_list
            {
                display: none;
                ul
                {
                    list-style: none;
                    font-size: 13px;
                    padding: 0;
                    li 
                    {
                        padding-top: 10px;
                        a 
                        {
                            text-decoration: none;
                        }
                    }
                }
            }
            .dropdown_manga_chapters_list
            {
                .fa-arrow-circle-down
                {
                    cursor: pointer;
                    transition: 0.3s;
                }
                .fa-arrow-circle-down.active
                {
                    transform: rotate(180deg);
                }
            }
        }
    }
}

footer 
{
    background-image: url("../img/bg/footer_bg_img.png");
    background-position: center;
    background-size: cover;
    margin-top: -300px;
   
    .footer_content 
    {
        padding-bottom: 80px;
        text-align: center;
        color: #fff;
        padding-top: 300px;
        .footer_logo 
        {
            img 
            {
                width: 100%;
                max-width: 250px;
            }
        }
        .footer_copyright 
        {
            padding-top: 10px;
            p 
            {
                font-size: 12px;
            }
        }
    }
}

.loader
{
    background-color: #000;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9999;

    .loader_content
    {
        text-align: center;
        .loader_logo
        {
            margin-top: 250px;
            img 
            {
                width: 100%;
                max-width: 170px;
            }
            p 
            {
                color: #fff;
                font-size: 14px;
                letter-spacing: 1px;
            }
        }
    }
}